# Dependencies
node_modules/

# Environment files
.env
.env.*
!.env.example

# Discord bot logs
packages/discord-bot/logs/

# Discord bot build artifacts
packages/discord-bot/dist/

# Discord bot Output
packages/discord-bot/output/
packages/discord-bot/src/output/

# Shared build artifacts
packages/shared/dist/

# VSCode settings
.vscode

# Frontend build artifacts
packages/web/dist/
packages/web/src/**/*.js
packages/web/src/**/*.js.map
packages/web/src/**/*.d.ts
packages/web/tsconfig*.tsbuildinfo
packages/web/vite.config.js
packages/web/vite.config.js.map
packages/web/vite.config.d.ts